<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXlrub_RNZaFaep0eDEBg0p6bDoHGMEKs</string>
	<key>GCM_SENDER_ID</key>
	<string>754779193821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cmc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cmc1-820fd</string>
	<key>STORAGE_BUCKET</key>
	<string>cmc1-820fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754779193821:ios:a7377cd1d1715e551c3634</string>
</dict>
</plist>